.cl-checkbox {
    position: relative;
    display: inline-block;
}

/* Input */
.cl-checkbox>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox>span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.cl-checkbox>span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.cl-checkbox>span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.cl-checkbox>input:checked,
.cl-checkbox>input:indeterminate {
    background-color: #018786;
}

.cl-checkbox>input:checked+span::before,
.cl-checkbox>input:indeterminate+span::before {
    border-color: #018786;
    background-color: #018786;
}

.cl-checkbox>input:checked+span::after,
.cl-checkbox>input:indeterminate+span::after {
    border-color: #fff;
}

.cl-checkbox>input:indeterminate+span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.cl-checkbox:hover>input {
    opacity: 0.04;
}

.cl-checkbox>input:focus {
    opacity: 0.12;
}

.cl-checkbox:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.cl-checkbox>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.cl-checkbox>input:active+span::before {
    border-color: #85b8b7;
}

.cl-checkbox>input:checked:active+span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Disabled */
.cl-checkbox>input:disabled {
    opacity: 0;
}

.cl-checkbox>input:disabled+span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

.cl-checkbox>input:disabled+span::before {
    border-color: currentColor;
}

.cl-checkbox>input:checked:disabled+span::before,
.cl-checkbox>input:indeterminate:disabled+span::before {
    border-color: transparent;
    background-color: currentColor;
}


/*****************************************************/
/*****************************************************/
/*****************************************************/
.xd button {
    padding: 10px 25px;
    position: relative;
    overflow: hidden;
    outline: none;
    background-color: #ffffff23;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    z-index: 1;
    border-radius: 10px;
}

.cB {
    color: #000000;
    border: 1px solid #56ab9f;
    box-shadow: #000000 0px 2px 5px -1px, #000000 0px 1px 3px -1px;
}

.g {
    color: #000000;
    border: 1px solid #002c28;
    box-shadow: #000000 0px 2px 5px -1px, #000000 0px 1px 3px -1px;
}

.xd .cB:hover {
    color: rgb(255, 255, 255);
    background-color: #56ab9f;
}

.xd .g:hover {
    color: rgb(255, 255, 255);
    background-color: #002c28;
}

.xd .cB:active {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

.xd .g:active {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

.xd .g:disabled {
    color: #888888;
    border: 1px solid #000000;
    background-color: #000000;
    cursor: not-allowed;
}

.xd .cB:disabled {
    color: #888888;
    border: 1px solid #000000;
    background-color: #000000;
    cursor: not-allowed;
}


/*****************************************************/
/*****************************************************/
/*
            |_  _  __|_.__.._ |_  _  
            | |(/__> |_|(_|| || |(_) 
*/
/*****************************************************/
/*****************************************************/
/*****************************************************/
.Btn {
    width: 100px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.164);
    cursor: pointer;
}

.text {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #016464;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.svgIcon {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #00443b;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.Btn:hover .text {
    background-color: #008585;
}

.Btn.clicked .svgIcon {
    background-color: rgb(0, 105, 105);
}

.Btn:disabled .text{
    cursor: not-allowed;
    color: #62ccba;
    background: #79ffe9 !important; 
}

.Btn:disabled .svgIcon{
    cursor: not-allowed;
    background: #4ecab6 !important; 
}

